<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>
    <!-- 日志 -->
    <settings>
        <setting name="logImpl" value="log4j"/>
    </settings>
    <!--别名-->
    <typeAliases>
        <package name="com._520.shopping"/>
    </typeAliases>
    <environments default="div">

        <environment id="div">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
<!--    映射文件    -->
    <mappers>
        <mapper resource="com/_520/shopping/mapper/CommodityMapper.xml"/>
        <mapper resource="com/_520/shopping/mapper/BrandMapper.xml"/>
    </mappers>
</configuration>