<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com._520.shopping.mapper.CommodityMapper">

    <sql id="query_where">
        <where>
            <if test="keyword != null">
                AND commodity.name LIKE concat('%',#{keyword},'%') OR brand.name LIKE concat('%',#{keyword},'%')
            </if>
            <if test="minPrice != null">
                AND price > #{minPrice}
            </if>
            <if test="maxPrice != null">
                AND price &lt; #{maxPrice}
            </if>
            <if test="brandName != null">
                AND brand.name = #{brandName}
            </if>
        </where>
    </sql>

    <resultMap id="commodityResultMap" type="Commodity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
<!--        多表查询    -->
        <association property="brand" javaType="Brand">
            <id property="id" column="b_id"/>
            <id property="name" column="b_name"/>
        </association>
    </resultMap>


    
    <select id="queryForList" resultMap="commodityResultMap">
        SELECT c.id,c.name,price,b.id b_id,b.name b_name
        FROM commodity c JOIN brand b
        ON b.id = c.brand_id
        <include refid="query_where"/>
        <if test="pageSize > 0">
            LIMIT #{begin},#{pageSize}
        </if>
    </select>
    <select id="queryForCount" resultType="int">
        SELECT COUNT(c.id) FROM commodity c JOIN brand b ON b.id = c.brand_id
        <include refid="query_where"/>

    </select>

    <select id="listAll" resultMap="commodityResultMap">
        SELECT c.id,c.name,price,b.id b_id,b.name b_name
        FROM commodity c JOIN brand b
        ON b.id = c.brand_id
    </select>

    <insert id="save">
        INSERT INTO commodity (name,price,brand_id) VALUES (#{name},#{price},#{brand.id})
    </insert>

    <select id="get" resultMap="commodityResultMap">
        SELECT id,name,price,brand_id FROM commodity WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE commodity SET name = #{name},price = #{price},brand_id = #{brand.id} WHERE id = #{id}
    </update>
    
</mapper>