<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com._520.shopping.mapper.CommodityMapper">

    <resultMap id="commodity" type="Commodity">
        <id property="id" column="commodity.id"/>
        <result property="name" column="commodity.name"/>
        <result property="price" column="price"/>
        <result property="brandName" column="brandName"/>
    </resultMap>
    <select id="query" resultMap="commodity">
        SELECT commodity.id,commodity.name,price,brand.name brandName
        FROM commodity JOIN brand
        ON brand.id = commodity.brand_id
    </select>
</mapper>